:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.9);
}

*,
:before,
:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.board {
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
}

.board .cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

.board .cell:first-child, .board .cell:nth-child(2), .board .cell:nth-child(3) {
  border-top: none;
}

.board .cell:nth-child(3n + 1) {
  border-left: none;
}

.board .cell:nth-child(3n + 3) {
  border-right: none;
}

.board .cell:last-child, .board .cell:nth-child(8), .board .cell:nth-child(7) {
  border-bottom: none;
}

.board .x,
.board .o {
  cursor: not-allowed;
}

.board .x:before,
.board .x:after {
  content: '';
  position: absolute;
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
  background-color: #000;
}

.board .x:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.board .x:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.board .o:before,
.board .o:after {
  content: '';
  position: absolute;
  width: var(--mark-size);
  height: var(--mark-size);
  background-color: #000;
  border-radius: 50%;
}

.board .o:before {
  width: var(--mark-size);
  height: var(--mark-size);
  background-color: #000;
}

.board .o:after {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color: #fff;
}

.x .cell:not(.x):not(.o):hover:before, .x .cell:not(.x):not(.o):hover:after {
  content: '';
  position: absolute;
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
  background-color: #d3d3d3;
}

.x .cell:not(.x):not(.o):hover:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.x .cell:not(.x):not(.o):hover:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.o .cell:not(.x):not(.o):hover:before, .o .cell:not(.x):not(.o):hover:after {
  content: '';
  position: absolute;
  width: var(--mark-size);
  height: var(--mark-size);
  border-radius: 50%;
}

.o .cell:not(.x):not(.o):hover:before {
  width: var(--mark-size);
  height: var(--mark-size);
  background-color: #d3d3d3;
}

.o .cell:not(.x):not(.o):hover:after {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color: #fff;
}

.result {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.result .message,
.result .restart-btn {
  font-family: 'poppins', sans-serif;
  color: #fff;
  text-transform: capitalize;
}

.result .message {
  font-size: 5rem;
}

.result .restart-btn {
  background: none;
  border: 0.5px solid #d3d3d3;
  font-size: 2rem;
  padding: 7px 21px;
  border-radius: 10px;
  cursor: pointer;
}

.result .restart-btn:hover {
  color: rgba(0, 0, 0, 0.9);
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
